<div class="content">
		<div class="row main">
				<div class="col-sm-2 side">
				</div>
				<div class="col-sm-8 text-left"> 
						<h1>Saved Business</h1>
						{{#each model as |business|}}
								{{#if business.saved}}
										<SingleBusiness  
												class="business" 
												@business={{business}}
										/>
										<hr>
								{{/if}}
						{{/each}}
				</div>
				<div class="col-sm-2 side">
				</div>
		</div>
</div>
{{outlet}}